
*{box-sizing: border-box;}

body,html{
    background:rgb(4, 188, 212);
    margin: 0;
    height: 100%;
} 
body,h1,h2,h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif;
}
@mixin btn{
    cursor: pointer;
    padding: 18px;
    float: left;
    background: purple;
    border: none;
    outline: none;
}
@mixin list{
    list-style: none;
    padding:0;
    margin: 0;
}
ul{
    display: flex;
    flex-direction: column;
    @include list;
    overflow-x: hidden;
    height:100%;
    top: 0;
    left: 0;
    position: fixed;
    width: 0%;
    padding-top: 16px;
    transition: 0.6s;
    
    z-index: 1;
    border: 1px solid #000;
}

.li{
    padding-top: 45px;
    
}
ul li{
    font-size: 26px;
    border: 1px solid purple;
    cursor: pointer;
    width: 100%;
    padding: 25px;
    text-align: left;
    transition: 0.5s;
    text-align: center;

}
.close{
    transition: .2s;
}
ul li:hover{
    color:rgb(218, 13, 201)
}
.div{
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 50000px;
    align-items: start;
    
}
.main{
    width: 100%;
    align-self:stretch;
    
}



