
*{box-sizing: border-box;}

body,html{
    background:rgb(4, 188, 212);
    margin: 0;
} 
body,h1,h2,h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif;
}
@mixin btn{
    cursor: pointer;
    padding: 18px;
    float: left;
    background: purple;
    border: none;
    outline: none;
}
ul{
    list-style:none;
    padding: 0;
    background: yellow;
    overflow: hidden;
    border: 1px solid #000;
    margin-top: 0;
    position: relative;
}
ul li {
    float: left;
    border: 1px solid #000;
}
ul li a{
    border: 1px solid red;
}
input{
    float: right;
    margin-top: 4px;
}
.submit{
    float: right;
}
@media screen and (max-width:600px){
    ul li ,.submit{
        display: block;
        float: none;
        width: 100%;
    }
    ul li a,input[type=text]{width: 100%;}
   
    
   
}